p{
  margin-top: 0;
  margin-bottom: 5px;
}
.grid-container{
  display: grid;margin-left: 4%;
  object-fit: contain;
  padding: 10px;grid-template-columns: 320px 320px 320px 320px;
  row-gap: 20px; 
}
.Title{
  padding-left: 240px;
  margin-bottom: 60px;

}
.button-theme{
  color:white;
  border-radius: 20px;
  border-color: cadetblue;
  font-size: 20px;
  cursor: pointer;
  margin-left: 100px;
  transition: background-color 2s;transition: border-radius 2s;
}
.button-theme:hover{
  background-color: rgba(255, 0, 0, 0.489);border-radius: 65%;
}

.Title-icon{
  object-fit: cover;
  min-height: 26px;max-height: 26px;
  min-width: 40px;max-width: 40px;
  object-fit: fill;
}
.Title-icon:hover{
  opacity: 0.6;;cursor: pointer;
}
.Title-text{
  font-weight: bolder;
  font-size: 32px;
  font-family: fantasy;
  margin-bottom: 0;
  color:white;
  display: block;
}
.Title-text-container{
  display: inline-block;
  object-fit: contain;
  object-position: right;
}
.Title-text-container:hover{
  opacity: 0.6;;cursor: pointer;
}
body{
  background-color: black;
}
.t{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Jacquard 24';
}
img{
  max-width: 300px;min-width: 300px;
  max-height: 168px;min-height: 168px;
  object-fit: cover;
  object-position: top;
}
.search-bar{
  font-size: 26px;
  text-align: center;
  min-width: 300px;min-height: 32px;
  border-color: rgb(0, 225, 255);
  border-radius: 30px;
  border-width: 1px;margin-right: 60px;
}
.video-preview{
  max-width: 300px;min-width: 300px;
  max-height: 270px;min-height: 270px;
  vertical-align: top;
  display: inline-block;
  color: white;
  transition: background-color 2s;
}
.video-preview:hover{
  background-color: rgba(239, 58, 34, 0.863);
}
.video-preview:active{
  opacity: 0.6;
}
.video-preview-text{
  height: 100px;
  width: 200px;
  display: inline-block;
  object-fit: contain;
  object-position: right;
}
.preview-profile{
  width: 50px;
  height: 70px;
  border-radius: 60px;
  margin-left: 3px;
  display: inline-block;
  object-fit: contain;
  object-position: left;
}
.profile-pic{
  object-fit: cover;
  min-height: 50px;max-height: 50px;
  min-width: 50px;max-width: 50px;
  border-radius: 26px;
  object-fit: fill;
}
